[submodule "enzonaute/themes/showfolio"]
	path = enzonaute/themes/showfolio
	url = https://github.com/apvarun/showfolio-hugo-theme.git
[submodule "enzonaute/themes/ananke"]
	path = enzonaute/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
